[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
drawbot = {editable = true, ref = "master", git = "https://github.com/typemytype/drawbot.git"}

[dev-packages]

[requires]
python_version = "3.8"
